<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="row clikable paddinTopBottom"
    *ngFor="let item of userLists"
    [class.border-div]="item.checked"
    (click)="selectUser(item)">
    <div class="col-md-2">
      <span
       [class.check]="item.checked"
       [class.uncheck]="!item.checked">
      </span>
    </div>
    <div class="col-md-10">

      <span>
        {{ item.name + ' ' + item.lastName }}
      </span>
    </div>

  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>
